<div class="acf-connect-4__grid_container">
  <acf-winner-banner [winner]="store.state.winner"></acf-winner-banner>
  <div class="acf-connect-4__grid">
    <div *ngFor="let row of store.state.field"
      class="acf-connect-4__row">
      <div
        *ngFor="let cellState of row; let columnIndex = index"
        class="acf-connect-4__cell"
        [ngClass]="'acf-connect-4__cell--value_'+cellState"
        (click)="store.dropToken(columnIndex)"
      ></div>
    </div>
  </div>
  <acf-winner-banner [winner]="store.state.winner"></acf-winner-banner>
</div>
