<div class="acf-checkers__grid_container">
  <acf-winner-banner [winner]="store.state.winner"></acf-winner-banner>
  <div class="acf-checkers__grid">
    <div *ngFor="let row of store.state.field"
      class="acf-checkers__row">
      <div
        *ngFor="let cellState of row; let columnIndex = index"
        class="acf-checkers__cell"
        [class.acf-checkers__cell--token]="cellState!==0"
        [ngClass]="'acf-checkers__cell--token_'+cellState"
        (click)="store.playMove(columnIndex)"
      ></div>
    </div>
  </div>
  <acf-winner-banner [winner]="store.state.winner"></acf-winner-banner>
</div>
